#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

#target {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#target div {
    width: 149px;
    height: 74px;
    border: 1px solid black;
}


table tr td canvas {
    width: 149px;
    height: 74px;
    border: 1px solid black;
}

button {
    margin-top: 8px;
    margin-bottom: 8px;
}

#map_td {
    alignment: center;
}