#map {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    float: left;
    margin-left: 5%;
}

#puzzle {
    border: 1px solid black;
    float: right;
    margin-right: 5%;
}

button {
    float: left;
}
#pieces {
    float: left;
    margin-top: 16px;
    margin-left: 2.5%;
}

#buttons {
    float: left;
    margin-left: 5%;
}

button {
    margin-top: 16px;
}