#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

#target {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

tr {
    width: 1200px;
    height: 75px;
}

#target div {
    width: 150px;
    height: 75px;
    border: 1px solid black;
}

#target div canvas{
    width: 150px;
    height: 75px;
}

table tr canvas {
    width: 149px;
    height: 74px;
}

table tr td {
    float: left;
}

button {
    margin-top: 8px;
    margin-bottom: 8px;
}

#map_td {
    alignment: center;
}